<table class="table table-hover table-condensed">
  <tr><th>
    <% if cookies[:rs_show_doc_list].nil? %>
      <% cookies[:rs_show_doc_list] = 0 %>
      <%= link_to "+", real_estate_path(@real_estate), :onclick => 'document.cookie="rs_show_doc_list=1" ' %>
    <% else %>
      <% if cookies[:rs_show_doc_list]=="1" %>
        <%= link_to "-", real_estate_path(@real_estate), :onclick => 'document.cookie="rs_show_doc_list=0" ' %>
      <% else %>
        <%= link_to "+", real_estate_path(@real_estate), :onclick => 'document.cookie="rs_show_doc_list=1" ' %>
      <% end %>
    <% end %>
    Iratok
  </th></tr>
  
  <% if cookies[:rs_show_doc_list]=="1" %>
    <% @real_estate.data_file.each do |d| %>
      <% @path="/docs/" +@real_estate.rs_type + "/" + @real_estate.id.to_s + "_" + d.file_name %>
      <tr>
        <% @fn=d.file_name[0..29] %>
        <% @fn = @fn + "..." unless @fn == d.file_name %>
        <td rowspan="2"><%= link_to @fn, @path, :action => "download", :target => "_blank" %></td>
        <td class="span7"><%= d.file_comment %></td>
        <td><%= d.created_at %></td>
        <td>
          <% if d && d.user_id.to_s == current_user.id.to_s %>
            <%= link_to "Töröl", d, method: :delete, data: { confirm: "Biztosan?", :rs_id => d.real_estate_id} , class: "btn btn-small" %>
          <% else %>
            <%= User.find_by_id(d.user_id).name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <% if d.user_id.to_s == current_user.id.to_s %>
          <%= form_for @real_estate.data_file.find_by_id(d.id), :url => { :controller => :data_files, :action => :update } do |f|%>
            <td colspan="2"><%= f.text_field :file_comment, :class => "span10"  %></td>
                            <%= f.hidden_field :id, :value => d.real_estate_id %>
                            <%= f.hidden_field :df_id, :value => d.id %>
            <td>            <%= f.submit "Módosít", class: "btn btn-small" %></td>
          <% end %>
        <% end %>
      </tr>
     <% end %>
  <% end %>
</table>

<% if cookies[:rs_show_doc_list]=="1" %>
  <div class="span12">
    <% @df=DataFile.new%>
    <% @df.user_id = current_user %>
    <% @df.real_estate_id = @real_estate.id %>
    <%= form_for @df do |f| %>
      <%= f.hidden_field :id, :value => @df.real_estate_id %>
      <%= f.hidden_field :type, :value => "doc" %>
      <%= f.file_field :Upload %>
      <%= f.label "Magyarázat" %>
      <%= f.text_field :file_comment %>
      <%= f.submit "Feltölt", class: "btn btn-small btn-primary" %>
    <% end %>
  </div>
<% end %>