<h1>Ingatlan lista</h1>

<table class="table table-hover table-condensed">
  
  <tr>
    <th>ID</th>
    <th>Típus</th>
    <th>Település</th>
    <th>Cím</th>
    <th>Megjegyzés</th>
  </tr>

  <% @real_estate_list.each do |l| %>
    <tr>
      <td>
        <%= link_to l.id.to_s + '.', real_estate_path(l) %>
      </td>
      <td>
        <%= link_to l.rs_type.to_s, real_estate_path(l) %>
      </td>
      <td>
        <%= l.locality %>
      </td>
      <td>
        <%= l.address %>
      </td>
      <td>
        <%= l.description %>
      </td>
    </tr>
  <% end %>
</table>