<h1>Ingatlan lista</h1>

<%= form_tag real_estates_path, :method => 'get' do %>
  <%= select_tag "tipus", options_for_select(RStype, :selected => params[:tipus]), {:include_blank => true, onchange: "this.form.submit()" } %>
  <%= select_tag "telepules", options_for_select(RSlocality, :selected => params[:telepules]), {:include_blank => true, onchange: "this.form.submit()" } %>
<% end %>

<table class="table table-hover table-condensed">
  <% if @real_estate_list.empty? %>
    <tr><th>-</th></tr>
  <% else %>
    <tr>
      <th>ID</th>
      <th>Típus</th>
      <th>Település</th>
      <th>Elhelyezkedés</th>
      <th>Felület</th>
      <th>Teljes terület</th>
      <th>Megjegyzés</th>
    </tr>

    <% @real_estate_list.each do |l| %>
      <tr>
        <td>
          <%= link_to l.id.to_s + '.', real_estate_path(l) %>
        </td>
        <td>
          <%= link_to l.rs_type.to_s, real_estate_path(l) %>
        </td>
        <td>
          <%= l.locality %>
        </td>
        <td>
          <% if !l.detail.find_by_repar("elhelyezkedés") %>
          <% else %>
            <%= l.detail.find_by_repar("elhelyezkedés").reval %>
          <% end %>
        </td>
        <td>
          <%= l.surface %>
        </td>
        <td>
          <%= l.area %>
        </td>
        <td>
          <%= l.description %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>