<%= provide(:title, "Új ingatlan") %>

<h1>Ingatlan adatok:</h1>

<%= form_for @real_estate do |f| %>
  <%= f.label "Ingatlan típusa:" %>
  <%= f.select :rs_type, RStype %>
  <%= f.label "Település:" %>
  <%= f.select :locality, RSlocality %>
  <%= f.label "Cím:" %>
  <%= f.text_field :address %>
  <%= f.label "Felület:" %>
  <%= f.text_field :surface%>
  <%= f.label "Teljes terület:" %>
  <%= f.text_field :area %>
  <%= f.label "Rövid leírás:" %>
  <%= f.text_field :description %>
  <%= f.submit "Mentés", class: "btn btn-large btn-primary" %>
<% end %>
