<%= provide(:title, @real_estate.rs_type) %>

<%= link_to "Vissza", real_estates_path %>

<div class="row">
  <aside class="span4">
    <section>      
      <h2>
        <%= @real_estate.rs_type %>
      </h2>
    </section>
    <%= image_tag "testimages/testkicsi.jpg" %>
  </aside>
  <div class="span8">
    <h4>
      <%= @real_estate.locality %>
    </h4>
    <h3>
      <%= @real_estate.address %>
    </h3>
    <p>
      <%= @real_estate.description %>
    </p>
    <p><em>
      Feljegyezve: <%= @real_estate.created_at %>
    </em></p>
    <%= link_to "Szerkeszt", edit_real_estate_path(@real_estate), class: "btn btn-medium btn-primary" %>
  </div>  
  <div class="span12">
    <h3>Részletek</h3>
    <% if @real_estate.detail.any? %>
      <table class="table table-hover table-condensed">
        <% @real_estate.detail.each do |det| %>
          <tr>
            <td><%= det.repar %></td>
            <td><%= det.reval %></td>
            <td><em><%= det.created_at %></em></td>
          </tr>
        <% end %>
      </table>
    <% end %>
    <div class="span12">
      <%= link_to "Szerkeszt", edit_detail_path, class: "btn btn-medium btn-primary" %>
    </div>
  </div>
  <div class="span12">
    <h3>Képek?</h3>
    <div class="span12">
      <%= link_to "Szerkeszt", "#", class: "btn btn-medium btn-primary" %>
    </div>
  </div>
  <div class="span12">
    <h3>Dokumentumok</h3>
    <table class="table table-hover table-condensed">
      <% @real_estate.data_file.each do |d| %>
        <% @path="/docs/" +@real_estate.rs_type + "/" + @real_estate.id.to_s + "_" + d.file_name %>
        <tr>
          <td><%= link_to d.file_name, @path, :action => "download", :target => "_blank" %></td>
          <td><%= d.file_comment %></td>
          <td><%= d.created_at %></td>
          <td><%= User.find_by_id(d.user_id).name %></td>
        </tr>
       <% end %>
    </table>
    <div class="span12">
      <% @df=@real_estate.data_file.new%>
      <% @df.user_id = current_user %>
      <% @df.real_estate_id = @real_estate.id %>
      <%= form_for @df do |f| %>
        <%= f.hidden_field :id, :value => @df.real_estate_id %>
        <%= f.label "File kiválasztás" %>
        <%= f.file_field :Upload %>
        <%= f.label "Magyarázat" %>
        <%= f.text_field :file_comment %>
        <%= f.submit "Upload", class: "btn btn-medium btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="span12">
    <h3>Bejegyzések</h3>
    <div class="span12">
      <% if @real_estate.comment.any? %>
        <% @real_estate.comment.each do |r| %>
          <div class="navbar navbar-inner">
            <%= r.created_at %> ( <%= User.find_by_id(r.user_id).name %> )
          </div>
            <p> <%= raw(r.comment) %> </p>
        <% end %>
      <% else %>

      <% end %>
      <% @c=@real_estate.comment.new %> 
      <% @c.user_id = current_user %>
      <% @c.real_estate_id = @real_estate.id %>
      <%= form_for @c do |f| %>
        <%= f.text_area :comment, :placeholder => "Új bejegyzés" %>
        <%= f.hidden_field :id, :value => @c.real_estate_id %>
        <%= f.submit "Mentés", class: "btn btn-medium btn-primary" %>
      <% end %>
    </div>
  </div>
</div>