<%= provide(:title, @real_estate.rs_type) %>

<%= link_to "Vissza", real_estates_path %>

<div class="row">
  <%= render 'real_estates/show_general' %>
  <%= render 'real_estates/show_details' %>
  <%= render 'real_estates/show_images' %>
  <%= render 'real_estates/show_docs' %>
  <%= render 'real_estates/show_comments' %>
</div>