<header class="navbar navbar-inverse navbar-fixed-top"> <!--header-->
    <div class="navbar-inner">
      <div class="container">
        <%= link_to("INGATLAN ADATBAZIS", root_path, id: "logo") %>
        <% if signed_in? %>
          <%= current_user.name %>
        <% end %>
        <nav>
          <% if signed_in? %>
            <ul class="nav navbar-inner pull-right">
              <li><%= link_to("Home",root_path) %></li>
              <li><%= link_to("Iktató", "#") %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Ingatlanok<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Új ingatlan",new_real_estate_path %></li>
                  <li><%= link_to "Keresés",real_estates_path %></li>
                </ul>
              </li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Piac<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Új adat",new_market_info_path %></li>
                  <li><%= link_to "Keresés","#" %></li>
                </ul>
              </li>
              <% if admin_user? %>
                <li><%= link_to("Felhasználók", users_path) %></li>
              <% else %>
                <% if signed_in? %>
                  <li><%= link_to("Saját", edit_user_path(current_user))  %></li>
                <% end %>
              <% end %>
              <li><%= link_to("Kilépés", signout_path, method: "delete") %>
            </ul>
            <% else %>
            <ul class="nav navbar-inner pull-right">
              <li><%= link_to("Home",root_path) %></li>
              <li><%= link_to("Belépés",signin_path) %></li>
              <li><%= link_to("Regisztráció",signup_path) %></li>
            </ul>
          <% end %>
        </nav>
      </div> <!-- container -->
    </div> <!-- navbar-inner -->
    
  </header> <!-- header -->